/results/
/dist/
__pycache__
/.mypy_cache/
/scan_to_paperless.egg-info/
/tests/prof/
/.github/changelog-generator-cache
/docker-compose.override.yaml
/node_modules/
/tests/*.png
!/tests/*.expected.png
!/tests/*.mask.png
/tests/status/*.png
!/tests/status/*.expected.png
!/tests/status/*.mask.png
/tests/status/scan/status.html
