repos:
  - repo: local
    hooks:
      - id: schema-copy
        name: Copy between schemas
        entry: ci/schema-copy
        language: python
        files: ^scan_to_paperless/config_schema\.json$
        pass_filenames: false

  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 1.0.0
    hooks:
      - id: jsonschema-validator
        files: |-
          (?x)^(
            ci/config\.yaml
            |jsonschema\-gentypes\.yaml
            |\.github/publish\.yaml
          )$
  - repo: https://github.com/sbrunner/jsonschema2md2
    rev: 1.7.0
    hooks:
      - id: jsonschema2md
        files: schema.json
        args:
          - --pre-commit
          - scan_to_paperless/config_schema.json
          - config.md
      - id: jsonschema2md
        files: schema.json
        args:
          - --pre-commit
          - scan_to_paperless/process_schema.json
          - process.md
  - repo: https://github.com/camptocamp/jsonschema-gentypes
    rev: 2.13.0 # Use the ref you want to point at
    hooks:
      - id: jsonschema-gentypes
        files: |-
          (?x)^(
            jsonschema-gentypes\.yaml
            |scan_to_paperless/process_schema\.json
            |scan_to_paperless/config_schema\.json
          )$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/sbrunner/hooks
    rev: 1.6.1
    hooks:
      - id: copyright
      - id: workflows-require-timeout
      - id: poetry2-lock
        additional_dependencies:
          - poetry==2.2.1 # pypi
      - id: canonicalize
      - id: prospector-to-ruff
        additional_dependencies:
          - prospector-profile-duplicated==1.10.5 # pypi
          - prospector-profile-utils==1.26.5 # pypi
        args:
          - --test=utils:tests
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(.*/)?poetry\.lock$
        args:
          - --ignore-words=.github/spell-ignore-words.txt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.7.4 # npm
          - prettier-plugin-sh@0.18.0 # npm
          - prettier-plugin-toml@2.0.6 # npm
          - '@prettier/plugin-xml@0.12.0' # npm
        exclude: ^scan_to_paperless/status\.html$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: git-check
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-jsonschema
        name: Check GitHub Workflows set timeout-minutes
        files: ^\.github/workflows/[^/]+$
        types:
          - yaml
        args:
          - --builtin-schema
          - github-workflows-require-timeout
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.9
    hooks:
      - id: ripsecrets
        exclude: |-
          (?x)(
            ^thepaperlessproject-paperless-webserver.json
            |thepaperlessproject-paperless-consumer.json
          )

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-format
        args:
          - --line-length=110
  - repo: https://github.com/PyCQA/prospector
    rev: v1.17.3
    hooks:
      - id: prospector
        args:
          - --profile=utils:pre-commit
          - --die-on-tool-error
          - --output-format=pylint
          - --profile=.prospector.yaml
        exclude: |-
          (?x)(
            ^tests?/?
            |/tests?(/|$)
            |.*/tests(/|$)
            |(^|/)test_[_a-zA-Z0-9]+.py$
            |(^|/)[_a-zA-Z0-9]+_tests?.py$
            |(^|/)tests?.py$
          )
        additional_dependencies:
          - prospector-profile-duplicated==1.10.5 # pypi
          - prospector-profile-utils==1.26.5 # pypi
          - pylint[spelling]==3.3.9 # pypi
          - ruff==0.14.10 # pypi
      - id: prospector
        args:
          - --die-on-tool-error
          - --output-format=pylint
          - --profile=utils:tests
          - --profile=utils:pre-commit
        additional_dependencies:
          - prospector-profile-utils==1.26.5 # pypi
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.69.2
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/sbrunner/python-versions-hook
    rev: 1.3.0
    hooks:
      - id: python-versions
