[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.21.5"
scipy = "==1.7.3"
scikit-image = "==0.19.0"
opencv-python-headless = "==4.5.4.60"
deskew = "==0.10.39"
jsonschema-gentypes = "==0.9.4"
"ruamel.yaml" = "==0.17.4"

[dev-packages]
prospector = {extras = ["with_bandit", "with_mypy", "with_pyroma"], version = "==1.5.3.1"}
flake8 = "==3.9.2"
pytest = "==6.2.5"
coverage = "==6.2"
pytest-profiling = "==1.7.0"
argcomplete = "==1.12.3"

[requires]
python_version = "3.8"
