[tool.black]
line-length = 110
target-version = ['py38']

[tool.poetry]
name = 'scan-to-paperless'
version = '0.0.0'
description = 'Not used'
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
numpy = "1.22.0"
scipy = "1.7.3"
scikit-image = "0.19.1"
opencv-python-headless = "4.5.5.62"
deskew = "0.10.39"
jsonschema-gentypes = "0.9.4"
"ruamel.yaml" = "0.17.4"

[tool.poetry.dev-dependencies]
prospector = {version = "1.5.3.1", extras = ["with_bandit", "with_mypy", "with_pyroma"]}
pytest = "6.2.5"
coverage = "6.2"
pytest-profiling = "1.7.0"
argcomplete = "2.0.0"
