# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/c2cciutils/1.5/c2cciutils/schema.json

checks:
  versions: False
  codespell: False

publish:
  docker:
    images:
      - name: sbrunner/scan-to-paperless
        tags:
          - '{version}'
      - name: sbrunner/scan-to-paperless
        group: docker-all
        tags:
          - '{version}-all'
    repository:
      github:
        versions: []
    dispatch: false
