c2cciutils[checks,publish]==1.4.4
jsonschema2md==0.4.0
jsonschema-gentypes==1.4.1
poetry==1.2.2
poetry-core==1.4.0
poetry-plugin-tweak-dependencies-version==1.1.0
poetry-dynamic-versioning==0.21.1
poetry-plugin-export==1.2.0
pip==22.3.1
pyopenssl==22.1.0
