name: Audit

on:
  schedule:
    - cron: '30 2 * * *'

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-22.04
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        branch:
          - master

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}
          token: ${{ secrets.TOKEN }}
      - run: git config --global user.email "sbrunner@ci.org"
      - run: git config --global user.name "Snyk autofix"

      - run: python3 -m venv ~/.venv
      - run: ~/.venv/bin/pip install --pre c2cciutils[audit]
      - run: python3 -m pip install --pre c2cciutils[audit]

      - name: Snyk audit
        run: ~/.venv/bin/c2cciutils-audit --branch=${{ matrix.branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Check ci/dpkg-versions.yaml file existence
        id: dpkg-versions
        uses: andstor/file-existence-action@v2
        with:
          files: ci/dpkg-versions.yaml
      - name: Update dpkg packages versions
        run: ~/.venv/bin/c2cciutils-docker-versions-update --branch=${{ matrix.branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        if: steps.dpkg-versions.outputs.files_exists == 'true'
