name: Audit

on:
  schedule:
    - cron: '30 2 * * *'

jobs:
  audit:
    runs-on: ubuntu-22.04
    name: Audit
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        branch:
          - master

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}

      - run: git config --global user.email "sbrunner@ci.org"
      - run: git config --global user.name "Snyk autofix"

      - run: python3 -m venv ~/.venv
      - run: ~/.venv/bin/pip install --pre c2cciutils[audit]
      - run: python3 -m pip install --pre c2cciutils[audit]

      - name: Audit
        run: ~/.venv/bin/c2cciutils-audit --branch=${{ matrix.branch }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
