---
name: Clean docker hub tags

on: delete

jobs:
  clean:
    runs-on: ubuntu-20.04
    name: Clean docker hub tags
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v2

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}

      - run: |
          sudo rm /etc/apt/sources.list.d/*.list
          sudo apt update
          sudo apt install --yes python3-wheel

      - run: python3 -m pip install --user c2cciutils
      - run: echo ~/.local/bin >> $GITHUB_PATH

      - name: Clean docker hub tags
        run: c2cciutils-clean
