name: Clean docker hub tags

on:
  delete:
  pull_request:
    types:
      - closed
jobs:
  clean:
    runs-on: ubuntu-20.04
    name: Clean docker hub tags
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3

      - run: docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Clean docker hub tags
        run: c2cciutils-clean
        env:
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
