name: Continuous integration

on:
  push:
    branches:
      - master
      - test
    tags:
      - '*'
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

jobs:
  build:
    name: Continuous integration
    runs-on: ubuntu-22.04
    timeout-minutes: 50
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v3
        if: env.HAS_SECRETS != 'HAS_SECRETS'
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}
          fetch-depth: 0
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files
        env:
          SKIP: poetry-lock
      - run: git diff && false
        if: failure()

      - name: Checks
        run: c2cciutils-checks
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: GitHub event
        run: echo ${GITHUB_EVENT} | python3 -m json.tool
        env:
          GITHUB_EVENT:
            ${{ toJson(github) }}

            # the if the generated files are up to date
      - run: make jsonschema
      - run: git diff --quiet
      - run: git diff
        if: failure()

      - run: poetry-dynamic-versioning

      - run: make build
      - run: make build-tests
      - run: make prospector
      - name: pytest
        run: >
          docker run --rm --env=PYTHONPATH=/opt/
          --volume=$(pwd)/results:/results --volume=$(pwd)/tests:/tests
          sbrunner/scan-to-paperless-tests bash -c '
          cd /tests &&
          pytest --durations=0 -vv --color=yes
          --profile --profile-svg --junitxml=/results/test-reports/junit.xml .'
      - run: sudo chmod -R go+r results || true
        if: failure()
      - uses: actions/upload-artifact@v3
        with:
          name: results
          path: results
          if-no-files-found: ignore
          retention-days: 5
        if: failure()

      - run: docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}

      - name: Init pypi
        run: |
          echo "[pypi]" > ~/.pypirc
          echo "username = ${{ secrets.PYPI_USERNAME }}" >> ~/.pypirc
          echo "password = ${{ secrets.PYPI_PASSWORD }}" >> ~/.pypirc
          pip install --user wheel twine
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - name: Init Git
        run: |
          git config user.email "<ci@ci.com>"
          git config user.name "CI"
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - name: Publish
        run: c2cciutils-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.TOKEN_NEW }}

      - run: make build-all

      - name: Publish Docker all
        run: |
          c2cciutils-publish --group=docker-all
        if: env.HAS_SECRETS == 'HAS_SECRETS'
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.TOKEN_NEW }}
